{% extends "layout.html" %}

{% block body_content %}
    <div class="form">
        <form method="post" action="">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.f_name.label }}
                {{ form.f_name }}
                {% if form.f_name.errors %}
                    <div class="error">
                        {% for error in form.f_name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <br>
            {{ form.l_name.label }}
            {{ form.l_name }}
            <br>
            {{ form.title.label }}
            {{ form.title }}
            <br>
            {{ form.content.label }}
            {{ form.content }}
            <br>
            <div class="form-group">
                {{ form.submit }}
            </div>
        </form>
    </div>
{% endblock %}